<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/PHdoc/public/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/PHdoc">Home</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:cunningham.mt917@gmail.com">email</a></li>
   <li><a href="https://github.com/mcunningham917">github.com/mcunningham917</a></li>
   </ul>
  </footer>
  </body>

</html>
