<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/slm_glacial_viz">Home</a></li>
<li><a href="/slm_glacial_viz/about/index.html">About</a></li>
<!-- <li><a href="/blog">Blog</a></li> -->
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:maxwellc@ldeo.columbia.edu">email</a></li>
   <li><a href="https://github.com/mcunningham917">github.com/mcunningham917</a></li>
   </ul>
  </footer>
  </body>

</html>
